body{
  	background-color: black;
  	overflow-y: hidden;
}

p{
	padding: 10px;
	font: 20px/100% Arial, Helvetica, sans-serif;
}

.wrapper {
	display: grid;
  	grid-template-columns: 32% 32% 33%;
  	grid-gap: 10px;
  	background-color: #f26522;
  	color: #444;
}

button {
	height: 150px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	border-radius: .5em;
	background-color: #fff;
}
button:hover {
	text-decoration: none;
}
button:active {
	position: relative;
	top: 1px;
}