body{
  	background-color: black;
  	overflow: hidden;
}

p{
	font: 16px/100% Tahoma;
	color: red;
	text-align: center;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.subs {
	width: 50%;
	padding: 350px;
	text-align: justify;
	text-justify: inter-word;
	font:30px
}

.subs p {
	line-height: 30px;
}

.wrapper {
	display: grid;
  	grid-template-columns: 33% 33% 31%;
  	grid-gap: 1px;
  	background-color: black;
  	color: #444;
}

.cells {
	width: 50%;
	margin: 0 auto;
	padding: 5px 0;
}

div{
	display: inline-block;
}

button {
	height: 210px;
	width: 100%;
	display: inline-block;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	background-color: #fff;
}
button:hover {
	text-decoration: none;
}
button:active {
	position: relative;
	top: 1px;
}

#button1{
	background: url('./imgs/wifi.png') no-repeat;
	background-size: cover;
}

#button2{
	background: url('./imgs/kids.png') no-repeat;
	background-size: cover;
}

#button3{
	background: url('./imgs/27hours.png') no-repeat;
	background-size: cover;
}

#button4{
	background: url('./imgs/carbonfree.jpeg') no-repeat;
	background-size: cover;
}

#button5{
	background: url('./imgs/bagging.jpg') no-repeat;
	background-size: cover;
}

#button6{
	background: url('./imgs/express.jpg') no-repeat;
	background-size: cover;
}

#button7{
	background: url('./imgs/intro.png') no-repeat;
	background-size: contain;
	background-position: center; /* Center the image */
	background-color: #ee7203 
}